@{
    ViewBag.Title = "BuyAuctions";
}
<div class="container">
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <h3>Sök efter auktioner</h3>
    @using (Ajax.BeginForm("SearchAuctions", "Advertisement", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "auctionSearchResult"
    }, new { @Class = "row" }))
    {
        <div class="col-md-4">
            @Html.Label("searchInput", "Sök efter auktioner")
            <div class="input-group">                
                @Html.TextBox("searchInput", null, new { @Class = "form-control" })
                <span class="input-group-btn">
                    <input class="btn btn-primary" id="submitBtn" type="submit" value="Sök" />
                </span>
            </div>
        </div>
    }
    <br />
    <div class="row" id="auctionSearchResult"><h4>Search results...</h4></div>
</div>